@charset "UTF-8";

/* input, forms */
// input
.input-wrap {
    display:inline-block;
    vertical-align:top;
    &.block {
        display:block;
    }
    input {
        width:100%;
        height:40px;
        border:1px solid $border;
        border-radius:2px;
        background:#fff;
        padding:4px 10px;
        font-size:13px;
        line-height:normal;
        color:$basic;
        &:focus {
            outline:none;
            border-color:$point;
        }
        &::placeholder,
        &::-webkit-input-placeholder {
            color:$border3;
            opacity:1;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &:disabled {
            background:$blur;
        }
    }
    textarea {
        width:100%;
        height:300px;
        padding:10px 10px;
        border:1px solid $border;
        border-radius:2px;
        color:$basic;
        font-size:13px;
        line-height:normal;
        &:focus {
            outline:none;
            border-color:$point;
        }
        &::placeholder,
        &::-webkit-input-placeholder {
            color:$border3;
            opacity:1;
        }
    }
}

// checkbox
$types : chk, rdo, rdo-btn;
@each $type in $types {
    .#{$type}-wrap {
        display:inline-block;
        position:relative;
        min-height:18px;
        vertical-align:top;
        input {
            position:absolute;
            width:1px;
            height:1px;
            padding:0;
            margin:-1px;
            overflow:hidden;
            clip:rect(0, 0, 0, 0);
            border:0;
            + label {
                display:inline-block;
                position:relative;
                cursor:pointer;
                padding-left:18px;
                color:$cont;
                font-size:13px;
                line-height:18px;
                user-select:none;
                vertical-align:top;
                @if $type == 'chk' {
                    &::before {
                        content:' ';
                        position:absolute;
                        top:3px;
                        left:0;
                        width:12px;
                        height:12px;
                        border:1px solid $border;
                        border-radius:2px;
                        background:#fff;
                    }
                }
                @if $type == 'rdo' {
                    &::before {
                        content:' ';
                        position:absolute;
                        top:3px;
                        left:0;
                        width:12px;
                        height:12px;
                        border:1px solid $border;
                        background:#fff;
                        border-radius:50%;
                    }
                }
                @if $type == 'rdo-btn' {
                    background:#fff;
                    width:100%;
                    border:1px solid $border;
                    border-left:none;
                    padding:8px 10px;
                    color:$gray;
                    font-size:13px;
                    line-height:18px;
                    text-align:center;
                }
            }
            @if $type == 'chk' {
                &:checked + label {
                    &::before {
                        border-color:$point;
                        background:$point;
                    }
                    &::after {
                        content:' ';
                        position:absolute;
                        top:4px;
                        left:4px;
                        width:4px;
                        height:8px;
                        border:1px solid #fff;
                        border-top:none;
                        border-left:none;
                        transform:rotate(45deg);
                    }
                }
            }
            @if $type == 'rdo' {
                &:checked + label {
                    &::before {
                        border-color:$point;
                    }
                    &::after {
                        content:' ';
                        position:absolute;
                        top:7px;
                        left:4px;
                        width:6px;
                        height:6px;
                        border-radius:50%;
                        background:$point;
                    }
                }
            }
            @if $type == 'rdo-btn' {
                &:checked + label {
                    border-color:$point;
                    background:$point;
                    color:#fff;
                    font-weight:700;
                }
            }
        }
    }
}

// file upload
.fileinput-wrap {
    position:relative;
    width:100%;
    max-width:400px;
    padding-right:70px;
    font-size:0;
    label {
        position:absolute;
        top:0;
        right:0;
        width:70px;
        height:36px;
        @include font16;
        line-height:36px !important;
        text-align:center;
        background:$basic;
        color:#fff;
        cursor:pointer;
    }
    input[type=file] {
        position:absolute;
        width:1px;
        height:1px;
        padding:0;
        margin:-1px;
        overflow:hidden;
        clip:rect(0, 0, 0, 0);
        border:0;
    }
}

// select list 
.slt-lists {
    overflow:hidden;
    ul {
        margin-top:-10px;
        font-size:0;
        li {
            display:inline-block;
            vertical-align:middle;
            margin-top:10px;
            line-height:normal;
        }
    }
    &.block {
        ul {
            margin-top:-6px;
            li {
                display:block;
                margin-top:6px;
            }
        }
    }
    &.auto {
        li {
            margin-right:10px;
        }
    }
    &.wide {
        li {
            margin-right:40px;
        }
    }
    &.narrow {
        li {
            margin-right:30px;
        }
    }
    &.comb {
        li {
            width:30%;
            &.chk-ipt-comb {
                width:100%;
            }
        }
    }
}

// form 
.form-wrap {
    .form-title {
        margin-bottom:18px;
        padding-bottom:14px;
        border-bottom:1px solid $border;
        .tit {
            @include font14;
            color:$point;
            font-weight:500;
        }
        .desc {
            margin-top:7px;
            @include font13;
            word-break:keep-all;
            em {
                color:$point;
                font-weight:500;
            }
        }
    }
    &.type2 {
        margin-bottom:60px;
        .row:first-child {
            padding-top:0;
            border-top:none;
        }
    }
    &.narrow-type {
        margin-bottom:30px;
        .row {
            margin-top:10px;
            &:first-child {
                margin-top:0;
            }
        }
    }
    .row {
        margin-top:24px;
        &:first-child {
            margin-top:0;
            padding-top:24px;
            border-top:1px solid $border;
        }
        &.no-border {
            margin-top:0;
            padding-top:0px;
            border-top:none;
        }
        &.type2 {
            @include clearfix;
            .col {
                float:left;
                width:calc((100% - 10px) / 2);
                margin-left:10px;
                &:first-child {
                    margin-left:0;
                }
                > label,
                > .label {
                    display:block;
                    margin-bottom:8px;
                    color:$basic;
                    @include font13;
                    font-weight:500;
                    small {
                        margin-left:2px;
                        font-size:13px;
                        color:$gray;
                        font-weight:400;
                    }
                }
            }
        }
        > label,
        > .label {
            display:block;
            margin-bottom:8px;
            color:$basic;
            @include font13;
            font-weight:500;
            span {
                margin-right:4px;
                color:$point;
                font-weight:800;
            }
            small {
                margin-left:2px;
                font-size:13px;
                color:$gray;
                font-weight:400;
            }
        }
        .forms {
            position:relative;
            margin-top:5px;
            &:first-child {
                margin-top:0;
            }
            &.boxs {
                border:1px solid $border;
                border-radius:4px;
                padding:11px 16px;
            }
            .input-wrap {
                width:100%;
                textarea {
                    height:80px;
                }
            }
            .btn {
                width:74px;
                padding:0;
            }
            .chk-ipt-comb {
                font-size:0;
                .rdo-wrap,
                .chk-wrap {
                    vertical-align:middle;
                }
                .input-wrap {
                    width:70%;
                    margin-left:10px;
                    vertical-align:middle;
                    input {
                        height:30px;
                        padding:2px 10px;
                    }
                }
            }
            .slt-case {
                > li {
                    margin-top:10px;
                    font-size:0;
                    &:first-child {
                        margin-top:0;
                    }
                    .question {
                        display:inline-block;
                        vertical-align:middle;
                        width:360px;
                        @include font14;
                    }
                    .slt-lists {
                        display:inline-block;
                        vertical-align:middle;
                    }
                }
            }
            // 생년월일(보험나이)
            &.birth-type {
                .input-wrap {
                    input {
                        padding-right:114px;
                    }
                }
                .year {
                    position:absolute;
                    top:50%;
                    right:16px;
                    transform:translateY(-50%);
                    @include font13;
                    em {
                        display:inline-block;
                        vertical-align:top;
                        margin-left:15px;
                        margin-right:2px;
                        color:$point;
                        font-family:'Roboto';
                        font-weight:800;
                    }
                }
            }
            // 핸드폰번호+인증번호
            &.phone-type {
                .input-wrap {
                    input {
                        padding-right:84px;
                    }
                }
                .btn {
                    position:absolute;
                    top:0;
                    right:0;
                }
                .time {
                    position:absolute;
                    top:50%;
                    right:84px;
                    transform:translateY(-50%);
                    color:$point;
                    @include font13;
                    font-family:'Roboto';
                    font-weight:700;
                }
            }
        }
        > .selectbox-wrap + .selectbox-wrap {
            margin-top:10px;
        }
    }
    .form-bottom {
        margin-top:20px;
        .check-wrap {
            text-align:center;
            font-size:0;
            .chk-wrap {
                vertical-align:middle;
                input + label {
                    color:$basic;
                }
            }
            .btn {
                vertical-align:middle;
                margin-left:10px;
            }
        }
        .form-msg {
            margin-top:12px;
        }
        .bullet-dl {
            padding-top:5px;
        }
    }
    .form-submit {
        margin-top:28px;
        .btn {
            display:block;
            width:100%;
        }
    }
}

.form-msg {
    @include font12;
    color:$gray;
    em {
        font-weight:inherit;
        color:$red;
    }
}
.err-msg {
    @include font13;    
    color:$red;
}