@charset "UTF-8";

/* loading */
.loadings {
    display:block;
    padding:5px;
    text-align:center;
    .area {
        display:inline-block;
        vertical-align:top;
        position: relative;
        width: 42px;
        height: 42px;
    }
    span {
        position: absolute;
        width: 8px;
        height: 8px;
        background: $yellow;
        border-radius: 50%;
        animation: loadings 1.0s linear infinite;
        &:nth-child(1) {
            animation-delay: 0s;
            top: 0;
            left: 22px;
        }
        &:nth-child(2) {
            animation-delay: -0.1s;
            top: 6px;
            left: 31px;
        }
        &:nth-child(3) {
            animation-delay: -0.2s;
            top: 16px;
            left: 35px;
        }
        &:nth-child(4) {
            animation-delay: -0.3s;
            bottom: 7px;
            left: 31px;
        }
        &:nth-child(5) {
            animation-delay: -0.4s;
            bottom: 0;
            left: 22px;
        }
        &:nth-child(6) {
            animation-delay: -0.5s;
            bottom: 0;
            right: 22px;
        }
        &:nth-child(7) {
            animation-delay: -0.6s;
            bottom: 6px;
            right: 31px;
        }
        &:nth-child(8) {
            animation-delay: -0.7s;
            bottom: 16px;
            right: 35px;
        }
        &:nth-child(9) {
            animation-delay: -0.8s;
            top: 7px;
            right: 31px;
        }
        &:nth-child(10) {
            animation-delay: -0.9s;
            top: 0px;
            right: 22px;
        }
    }
}
@keyframes loadings {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.3);
    }
}
