@charset "UTF-8";

/* 보험상품관 */
.container.products {
    // 상세보기
    .insu-detail-body {
        margin-top:15px;
        .insu-moreinfo {
            margin-top:30px;
            border:1px solid $border;
            border-radius:2px;
            li {
                border-top:1px solid $border;
                &:first-child {
                    border-top:none;
                }
                a {
                    display:block;
                    position:relative;
                    padding:0 20px 0 10px;
                    height:38px;
                    font-size:13px;
                    line-height:38px;
                    font-weight:500;
                    &::after {
                        content:' ';
                        position:absolute;
                        top:50%;
                        right:13px;
                        width:5px;
                        height:8px;
                        margin-top:-4px;
                        background:url('/mobile/images/icon/icon-arrow-right.png') center no-repeat;
                        background-size:100%;
                    }
                }
            }
        }
    }
}