<!-- filter -->
<div class="list-filter@@if(context.checkType){ type2}">
    <!-- search -->
    <div class="search-wrap">
        <div class="selectbox-wrap">
            <select class="nice-select">
                <option value="">전체</option>
                <option value="">제목</option>
                <option value="">내용</option>
            </select>
        </div>
        <div class="input-area">
            <span class="input-wrap">
                <input type="text" placeholder="검색어를 입력하십시오.">
            </span>
            <button type="submit" class="btn-search"><span class="blind">검색</span></button>
        </div>
    </div>
    <!-- // search -->
    @@if (context.countType) {
    <!-- count -->
    <p class="total">전체 <em>196</em>건</p>
    <!-- // count -->
    }
    @@if (context.checkType) {
        @@include('./modules/slt-list.html', {
            'size' : 'auto',
            'chk' : 'chk',
            'slt' : [
                @@for(var j=0; j < sltTit.length; j++) {
                    '`+sltTit[j]+`',
                }
            ]
        })   
    }
</div>
<!-- // filter -->