@charset "UTF-8";

$basic : #333;
$black : #1c1c1c;
$cont : #666;
$gray : #818181;
$blur : #fafafa;
$border : #ddd;
$border2 : #eee;
$border3 : #bbb;
$bg : #f6f8fb;
$point : #124990;
$point2 : #082c5c;
$yellow : #ffa409;
$red : #db2020;

$mint : #33becb;