<div class="button-tab-wrap">
    <ul class="tabs">
        <li@@if(context.sub0701){ class="active"}><a href="#n">공지사항</a></li>
        <li@@if(context.sub0702){ class="active"}><a href="#n">서비스소개</a></li>
        <li@@if(context.sub0703){ class="active"}><a href="#n">보험가입요령</a></li>
        <li@@if(context.sub0704){ class="active"}><a href="#n">보험금청구 준비서류</a></li>
        <li@@if(context.sub0705){ class="active"}><a href="#n">태아등재</a></li>
        <li@@if(context.sub0706){ class="active"}><a href="#n">이벤트</a></li>
    </ul>
</div>