<!-- 3depth tab -->
<div class="bar-tab-wraps">
    <div class="x-scroll">
        <ul class="tabs">
            @@if(context.dep3tab.cate01) {
            <li><a href="/mobile/page/sub_03_01.html" @@if(context.dep3tab.cate01 === '01'){class='active'}>전체</a></li>
            <li><a href="/mobile/page/sub_03_01_01.html" @@if(context.dep3tab.cate01 === '02'){class='active'}>황룡강</a></li>
            <li><a href="/mobile/page/sub_03_01_02.html" @@if(context.dep3tab.cate01 === '03'){class='active'}>황룡강 생태공원</a></li>
            }
            @@if(context.dep3tab.cate02) {
            <li><a href="/mobile/page/sub_03_02.html" @@if(context.dep3tab.cate02 === '01'){class='active'}>전체</a></li>
            <li><a href="/mobile/page/sub_03_02_01.html" @@if(context.dep3tab.cate02 === '02'){class='active'}>중도방죽</a></li>
            <li><a href="/mobile/page/sub_03_02_02.html" @@if(context.dep3tab.cate02 === '03'){class='active'}>벌교천</a></li>
            }
            @@if(context.dep3tab.cate03) {
            <li><a href="/mobile/page/sub_03_03.html" @@if(context.dep3tab.cate03 === '01'){class='active'}>전체</a></li>
            <li><a href="/mobile/page/sub_03_03_01.html" @@if(context.dep3tab.cate03 === '02'){class='active'}>펭귄마을</a></li>
            <li><a href="/mobile/page/sub_03_03_02.html" @@if(context.dep3tab.cate03 === '03'){class='active'}>푸른길 공원</a></li>
            }
        </ul>
    </div>
</div>
<!-- // 3depth tab -->