<header>
    <div class="head-top">
        <h1 class="logo"><a href="/mobile/" title="클릭시 메인으로 이동"><img src="/mobile/images/logo.png" alt="우리인슈맨라이프 로고"></a></h1>
        <button type="button" class="btn-menu-all"><span class="blind">메뉴 보기</span><span class="bar">&nbsp;</span></button>
    </div>
    <!-- gnb : depth1 -->
    <nav id="gnb">
        <ul>
            <li@@if(context.sub01){ class="active"}><a href="/mobile/page/sub_01.html">보험상품관</a></li>
            <li@@if(context.sub02){ class="active"}><a href="/mobile/page/sub_02.html">통합보험료계산</a></li>
            <li@@if(context.sub03){ class="active"}><a href="/mobile/page/sub_03_01.html">고객맞춤서비스</a></li>
        </ul>
        <div class="sub-depth">
            <ul class="more-dep1">
                <li>
                    <a href="#n" class="dep1">보험기획관<span class="blind">하위 메뉴 보기</span></a>
                    <ul class="more-dep2">
                        <li><a href="/mobile/page/sub_04_01.html">보장별 기획</a></li>
                        <li><a href="/mobile/page/sub_04_02.html">보험별 기획</a></li>
                        <li><a href="/mobile/page/sub_04_03.html">무해지보험기획관</a></li>
                        <li><a href="/mobile/page/sub_04_04.html">치아보험기획관</a></li>
                        <li><a href="/mobile/page/sub_04_05.html">유병자보험기획관</a></li>
                        <li><a href="/mobile/page/sub_04_06.html">운전자보험기획관</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#n" class="dep1">보험상담<span class="blind">하위 메뉴 보기</span></a>
                    <ul class="more-dep2">
                        <li><a href="/mobile/page/sub_05_01.html">온라인 상담신청</a></li>
                        <li><a href="/mobile/page/sub_05_02.html">온라인 가입신청</a></li>
                        <li><a href="/mobile/page/sub_05_03.html">실시간 보험문의</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#n" class="dep1">고객센터<span class="blind">하위 메뉴 보기</span></a>
                    <ul class="more-dep2">
                        <li><a href="/mobile/page/sub_06_01.html">공지사항</a></li>
                        <li><a href="/mobile/page/sub_06_02.html">서비스소개</a></li>
                        <li><a href="/mobile/page/sub_06_03.html">보험가입요령</a></li>
                        <li><a href="/mobile/page/sub_06_04.html">보험금청구 준비서류</a></li>
                        <li><a href="/mobile/page/sub_06_05.html">태아등재</a></li>
                        <li><a href="/mobile/page/sub_06_06.html">이벤트</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- // gnb : depth1 -->
    @@if (context.depth2 === 'sub03') {
    <!-- depth2 -->
    <div class="x-scroll">
        <ul class="depth2 tabs">
            <li@@if(context.sub0301){ class="active"}><a href="/mobile/page/sub_03_01.html">보험리모델링</a></li>
            <li@@if(context.sub0302){ class="active"}><a href="/mobile/page/sub_03_02.html">보험컨설팅</a></li>
            <li@@if(context.sub0303){ class="active"}><a href="/mobile/page/sub_03_03.html">간편심사보험</a></li>
            <li@@if(context.sub0304){ class="active"}><a href="/mobile/page/sub_03_04.html">간편가입보험</a></li>
            <li@@if(context.sub0305){ class="active"}><a href="/mobile/page/sub_03_05.html">보험재테크</a></li>
        </ul>
    </div>
    <!-- // depth2 -->
    }
</header>