<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>우리인슈보험</title>
@@if (!context.codingList) {
<!-- styles -->
<link rel="stylesheet" href="/mobile/css/app.css">
<!-- // styles -->
<!-- script -->
<script src="/mobile/js/jquery-3.5.1.min.js"></script>
<script src="/mobile/js/ui.min.js"></script>
<script src="/mobile/js/common.js"></script>
<!-- // script -->
}
@@if (context.codingList) {
<link rel="stylesheet" href="/css/codinglist.css">
}