<!-- page tab -->
<div class="tab-wrap">
    <div class="dep2-scroll">
        <ul class="tabs">
            @@if(context.cate01) {
            <li@@if(context.cate01 === '01'){ class='active'}><a href="/mobile/page/sub_01_01.html">타보리 안내</a></li>
            <li@@if(context.cate01 === '02'){ class='active'}><a href="/mobile/page/sub_01_02.html">이용 안내</a></li>
            }
            @@if(context.cate02) {
            <li@@if(context.cate02 === '01'){ class='active'}><a href="/mobile/page/sub_02_01.html">온라인 예약</a></li>
            <li@@if(context.cate02 === '02'){ class='active'}><a href="/mobile/page/sub_02_02.html">타보리 예약 문의</a></li>
            }
            @@if(context.cate03) {
            <li@@if(context.cate03 === '01'){ class='active'}><a href="/mobile/page/sub_03_01.html">장성</a></li>
            <li@@if(context.cate03 === '02'){ class='active'}><a href="/mobile/page/sub_03_02.html">보성</a></li>
            <li@@if(context.cate03 === '03'){ class='active'}><a href="/mobile/page/sub_03_03.html">광주</a></li>
            }
            @@if(context.cate04) {
            <li@@if(context.cate04 === '01'){ class='active'}><a href="/mobile/page/sub_04_01.html">홍보자료</a></li>
            <li@@if(context.cate04 === '02'){ class='active'}><a href="/mobile/page/sub_04_02.html">타보리 갤러리</a></li>
            <li@@if(context.cate04 === '03'){ class='active'}><a href="/mobile/page/sub_04_03.html">타보리 동영상</a></li>
            <li@@if(context.cate04 === '04'){ class='active'}><a href="/mobile/page/sub_04_04.html">뉴스/언론</a></li>
            }
            @@if(context.cate05) {
            <li@@if(context.cate05 === '01'){ class='active'}><a href="/mobile/page/sub_05_01.html">이벤트</a></li>
            <li@@if(context.cate05 === '02'){ class='active'}><a href="/mobile/page/sub_05_02.html">이용후기</a></li>
            <li@@if(context.cate05 === '03'){ class='active'}><a href="/mobile/page/sub_05_03.html">인증샷</a></li>
            }
            @@if(context.cate06) {
            <li@@if(context.cate06 === '01'){ class='active'}><a href="/mobile/page/sub_06_01.html">공지사항</a></li>
            <li@@if(context.cate06 === '02'){ class='active'}><a href="/mobile/page/sub_06_02.html">1:1 문의</a></li>
            <li@@if(context.cate06 === '03'){ class='active'}><a href="/mobile/page/sub_06_03.html">자주 찾는 질문</a></li>
            }
            @@if(context.cate07) {
            <li@@if(context.cate07 === '01'){ class='active'}><a href="/mobile/page/mypage_01.html">정보수정</a></li>
            <li@@if(context.cate07 === '02'){ class='active'}><a href="/mobile/page/mypage_02.html">예약내역</a></li>
            <li@@if(context.cate07 === '03'){ class='active'}><a href="/mobile/page/mypage_03.html">내가 쓴 글</a></li>
            <li@@if(context.cate07 === '04'){ class='active'}><a href="/mobile/page/mypage_04.html">1:1문의내역</a></li>
            <li@@if(context.cate07 === '05'){ class='active'}><a href="/mobile/page/mypage_05.html">회원탈퇴</a></li>
            }
        </ul>
    </div>
</div>
<!-- // page tab -->